version: "3"
services:
  node:
    build: .
    command: "npm start"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=production
    expose:
      - "7000"
    ports:
      - "7000:7000"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro  # Mapeando o diretório dos certificados
    networks:
      - app_network  # Definindo uma rede (caso você precise de outras interações entre containers)
    restart: unless-stopped
networks:
  app_network:
    driver: bridge